@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    background-color: rgb(236, 235, 235);
}

h1 {
    margin-top: 12px;
    margin-bottom: 0;
}

p {
    margin: 0;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    width: 75vw;
    /* height: 100vh; */
}

#container canvas, #overlay {
    position: absolute;
}

canvas {
    background-color: black;
    height: 720px;
    width: 1280px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 12px;
}

.start-btn {
    display: none;
}

.pressAnyKey {
    margin: 0;
    top: 32px;
    left: 410px;
    color: white;
    font-size: 16pt;
}

.dont-show {
    display: none;
}

.gameInforamtion {
    display: flex;
    justify-content: center;
    width: 1280px;
    gap: 64px;
    position: absolute;
    bottom: 50px;
}

.howToPlay {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 12px;
}

.score {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: 20px;
    color: white;
    gap: 12px;
}

.key-images {
    height: 45px;
}

.arrow-keys {
    height: 65px;
}

.counter {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

@media only screen and (max-width: 1280px) and (max-height: 1200px) {
    #container {
        width: 100vw;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pressAnyKey {
        display: none;
    }

    h2 {
        font-size: 1em;
    }

    .canvas {
        width: 100vw;
        height: auto;
    }

    .start-btn {
        display: flex;
        position: relative;
        top: 10px;
    }

    .gameInforamtion {
        display: none;
    }

    .button-container {
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        top: 215px;
        width: 100vw;
        padding-left: 25px;
        padding-right: 25px;
    }

    .buttonsForTouchscreen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leftAndRightArrows {
        display: flex;
        gap: 12px;
    }

    .jumpAndThrow-btn {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .arrow-for-touchscreens {
        height: 40px;
        width: 40px;
    }

}

@media only screen and (max-height: 700px) and (min-width: 600px) {
    .content {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .pressAnyKey {
        margin: 0;
        top: 12px;
        left: 220px;
        font-size: 10pt;
    }

    .canvas {
        width: 65%;
        height: auto;
    }

    .gameInforamtion {
        width: 100%;
        gap: 42px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        margin: 0;
        margin-bottom: 12px;
    }

    h3 {
        font-size: 16px;
    }

    .key-images {
        height: 32px;
    }

    .arrow-keys {
        height: 45px;
    }
}